// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

code {
  //padding: 2px 4px;
  font-size: 100% !important;
  color: #73879c !important;
  background-color: rgba(0,0,0,0) !important;
  //border-radius: 4px;
}